<div>
    <h1>Categories Page </h1>
    <div>
        <% @category.each_with_index do |category,id| %>
            <%= link_to group_entities_path(id) do %>
                <div>
                    <h1> <%= category[:name] %> </h1>
                    <h2> <%= category[:amount] %> </h2>
                    <img src="<%= category[:icon] %>" />
                </div>
            <% end %>
        <% end %>
    </div>
</div>
<div>
    <%= link_to 'Add category', new_group_path %>
</div>
